body {
  position: relative;
  padding-bottom: 200px; }

.instagram:hover {
  color: #8a3ab9; }

.facebook:hover {
  color: #3b5998; }

.whatsapp:hover {
  color: #25D366; }

/* Bg Header */
.bg-opa {
  background-color: rgba(0, 0, 0, 0.3); }

.banner {
  height: 122px;
  width: 100%; }

/* Color a nav */
.nav-link {
  color: #fff;
  font-family: 'lato', sans-serif; }

/* Carousel img */
.h-100vh {
  height: 100vh; }

.carousel-caption {
  top: 40vh; }
  .carousel-caption .carouselText {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 5px 50px;
    border-radius: 20px;
    border: 2px outset #fff; }

.carousel-caption2 {
  position: absolute;
  top: 40vh;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding: 1em .5em;
  color: #fff;
  text-align: center; }
  .carousel-caption2 .carouselText2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 2px outset #fff; }

/* CARDS INDEX */
.seccion-1 {
  margin-bottom: 50px; }

.bb-h1, .bb-cursos, .bb-contact {
  width: 8em;
  height: .40em;
  background-color: maroon;
  margin: auto; }

.card-cursos {
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: 20px;
  width: 25em;
  margin: 15px;
  box-shadow: 3px 3px 5px #3e4042;
  transition: scale 1s; }
  .card-cursos .card-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .4s; }
    .card-cursos .card-info .card-title {
      color: maroon;
      font-family: 'Alkalami', serif;
      font-size: 30px;
      font-weight: 700; }
    .card-cursos .card-info .card-text {
      color: #fff;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      font-stretch: condensed; }
  .card-cursos img {
    margin-top: 10px;
    border-radius: 20px;
    width: 100%;
    height: 300px; }
  .card-cursos:hover {
    z-index: 50;
    scale: 1.1; }
    .card-cursos:hover .card-info {
      opacity: 1; }
  .card-cursos:hover img {
    filter: brightness(60%); }

.btn-color {
  background-color: #3352a8;
  color: aliceblue;
  transition: all .5s; }
  .btn-color:hover {
    background-color: #b7dbf7;
    transform: scale(0.9);
    color: #3352a8;
    border-color: #3352a8; }

/* Contacto styles  */
/* Footer Styles */
footer {
  width: 100%;
  background-color: #27292B;
  height: 100px;
  position: absolute;
  bottom: 0; }
  footer a {
    text-decoration: none;
    color: #fff; }

/* Cursos Styles */
/* Section cursos kids */
.banner-cursos {
  background-image: url(../assets/bannerCursos.webp);
  background-position: 30% 40%; }

.cursos-title h1, .cursos-title h2 {
  font-family: 'Inter', sans-serif;
  font-size: 35px; }

.cursos-title h3 {
  font-size: 30px; }

.bb-cursos {
  width: 4em; }

.cursos-P {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #333; }

.img-cursos img {
  height: 15em;
  width: 25em;
  border-radius: 5px 100px 50px;
  box-shadow: 3px 3px 5px #3e4042; }

/* cursos kids finalizado */
/* SECCION NOTICIAS */
/* Section Yfu */
.banner-noticias {
  background-image: url(../assets/bannerNoticias.jpg);
  background-position: 30% 60%; }

.yfuImg img {
  height: 15em;
  width: 25em;
  border-radius: 5px 100px 50px;
  box-shadow: 3px 3px 5px #3e4042; }

.yfuTitle h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 30px; }

.yfuSubtitle h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 25px; }

.yfuP p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #333;
  text-align: justify;
  padding-bottom: 15px; }

/* FINALIZA SECCION NOTICIAS */
/* SECCION SOBRE NOSOTROS */
.banner-nosotros {
  background-image: url(../assets/bannerNosotros.jpg);
  background-position: -40% 35%; }

.nosotrosTitle h1 {
  font-family: 'Vidaloka', serif;
  font-size: 78px;
  font-weight: 100; }

.nosotrosInfo {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 20px; }

.nosotrosImg img {
  width: 25em;
  height: 20em; }

/* Finaliza seccion SOBRE NOSOTROS */
/* Seccion CONTACTO */
#fondo-contacto {
  background-image: url(../assets/bannerCursos.webp);
  background-size: cover; }

.container-contacto {
  margin-top: 50px;
  margin-bottom: 50px; }
  .container-contacto .contacto {
    box-shadow: -5px 5px 8px #000; }
    .container-contacto .contacto h2 {
      font-size: 1.2rem;
      color: #fff; }
  .container-contacto .text-container textarea {
    width: 100%; }

.subtitle-contacto {
  width: 80%;
  margin-left: 4em; }

.submit-btn {
  margin-left: 1em; }

.iframe-container2 iframe {
  border-radius: 0 150px 50px 0;
  box-shadow: 5px 5px 8px #000; }

.contacto-index, .container-contacto .contacto {
  background-image: url(../assets/bannerContactIndex.jpg);
  background-position: 50% 40%;
  height: 100%;
  padding: 20px;
  border-radius: 50px 0 0 150px; }
  .contacto-index .gradient-text, .container-contacto .contacto .gradient-text {
    background-image: linear-gradient(90deg, #0237fc, #ff0000);
    background-repeat: repeat;
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .contacto-index h2, .container-contacto .contacto h2 {
    font-size: 1.2rem;
    color: #fff; }
  .contacto-index .text-container textarea, .container-contacto .contacto .text-container textarea {
    width: 100%; }

.iframe-container iframe {
  border-radius: 0 150px 50px 0; }

.bb-contact {
  margin: 10px auto 20px auto; }

.container-contact-us {
  border-radius: 50px 150px 50px 150px;
  box-shadow: 10px 10px 8px #333;
  margin-top: 50px;
  margin-bottom: 50px; }

/* ANIMACION LOGO */
nav img {
  animation: animLogo 10s ease-in-out infinite; }

@keyframes animLogo {
  0% { }
  25% { }
  50% {
    opacity: 0;
    transform: scale(1.3); }
  75% { }
  100% {
    opacity: 1;
    transform: scale(1); } }

/* MEDIAS QUERIES */
@media (min-width: 700.5px) {
  .carouselMob {
    display: none; } }

@media (max-width: 700px) {
  .carouselDesk {
    display: none; } }

@media (max-width: 400px) {
  textarea {
    max-width: 100%; }
  .contacto h2 {
    font-size: 20px; }
  #contactForm input {
    width: 100px; }
  .img-cursos img {
    width: 17em;
    height: 10em; }
  /* Seccion Noticias */
  .yfuImg img {
    width: 17em;
    height: 10em; }
  .nosotrosImg img {
    height: 14em;
    width: 17em; } }

@media (max-width: 500.5px) {
  .card-cursos {
    width: 18em;
    height: 18em; }
    .card-cursos img {
      height: 90%; }
    .card-cursos .card-info .card-title {
      font-size: 1.5rem; }
    .card-cursos .card-info .card-text {
      font-size: .9rem; }
  .nosotrosTitle h1 {
    font-size: 40px; } }

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .img-cursos {
    margin-bottom: 5px; } }

/* // `md` applies to small devices (landscape phones, less than 768px) */
/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  textarea {
    width: 250px; } }

/* // `xl` applies to large devices (desktops, less than 1200px) */
/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
